* {
    box-sizing: border-box;
 
  }
  
  .item {
    width: 80%;
    height: 350px;
    margin: 50px auto;
    padding-top: 55px;
    /* background: rgb(59, 100, 177); */
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    color: #FFF;
    font-size: 2em;
  }
  h1 {
    font-size: 1em;
  }

  body {
    width: 100%;
    height: 100%;
    font-family: Helvetica,Tahoma;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ), url(bg.jpg);
    
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #464646;
  }

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(bg-mobile.jpg);
    background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }
	}

 
    /**
 * Hero
 */
.hero {
    width: 100%;
    height: 100vh;
 

    color: #FFF;
    text-align: center; }
  
  .hero-center {
    width: 100%;
    position: absolute;
    top: 40%;
   
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  
  .hero__logo {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.5); }
  
  .hero__text {
    font-weight: normal;
    opacity: 0.8; }
  
  .hero__scroll {
    position: absolute;
    bottom: 60px;
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase; }
    .hero__scroll .chevron {
      margin-top: 20px;
      display: block;
      -webkit-animation: pulse 2s infinite;
              animation: pulse 2s infinite;
      color: #FF4081; }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }
  
  @keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }
  
  
  .chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    vertical-align: top;
    width: 20px; }
  
  .chevron.right:before {
    left: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  
  .chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
  
  .chevron.left:before {
    left: 0.25em;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }



 /** Print CSS **/ 
@media print {

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
    background-image: none;
  }
  .hero {
    overflow: auto;
    position: fixed;
    text-align: left;
    margin-left: 10%;
    
  }
  .hero-center {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    
 }
 .hero__scroll {
   display: none;
 }
 .item {

   color: black;
   height: 150px;
   margin: 20px auto;
   padding-top: 20px;
 }


}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}